Final Capistone
Data Name - Uber Pickups in New York City
Data Link - https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city
Mentor - Edward Plata

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import datetime as dt
import seaborn as sns

In [37]:
american = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-American_B01362.csv')
carmel = pd.read_csv('C:/Users/vagne/Desktop/capis_data/Carmel_B00256.csv', encoding = 'cp1252')
dial7 = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Dial7_B00887.csv')
diplo = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Diplo_B01196.csv', encoding = 'cp1252')
highclass = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Highclass_B01717.csv', encoding = 'cp1252')
skyline = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Skyline_B00111.csv')
federal = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Federal_02216.csv')
lyft = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Lyft_B02510.csv')
firstclass = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Firstclass_B01536.csv', encoding = 'cp1252')
prestige = pd.read_csv('C:/Users/vagne/Desktop/capis_data/other-Prestige_B01338.csv', encoding = 'cp1252')

In [104]:
uber_jul = pd.read_csv('C:/Users/vagne/Desktop/capis_data/uber-raw-data-jul14.csv')
uber_aug = pd.read_csv('C:/Users/vagne/Desktop/capis_data/uber-raw-data-aug14.csv')
uber_sep = pd.read_csv('C:/Users/vagne/Desktop/capis_data/uber-raw-data-sep14.csv')

In [42]:
print (american.shape)
print (carmel.shape)
print (dial7.shape)
print (diplo.shape)
print (highclass.shape)
print (skyline.shape)
print (federal.shape)
print (lyft.shape)
print (firstclass.shape)
print (prestige.shape)

(91712, 6)
(256519, 4)
(194992, 6)
(98550, 3)
(151925, 3)
(127696, 6)
(276, 7)
(267701, 4)
(166769, 3)
(320641, 3)

In [75]:
#print (american.info())
#print (carmel.info())
#print (dial7.info())
#print (diplo.info())
#print (highclass.info())
#print (skyline.info())
#print (federal.info())
print (lyft.info())
#print (firstclass.info())
#print (prestige.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267701 entries, 0 to 267700
Data columns (total 4 columns):
time_of_trip    267701 non-null object
start_lat       267700 non-null float64
start_lng       267700 non-null float64
Unnamed: 3      1198 non-null object
dtypes: float64(2), object(2)
memory usage: 8.2+ MB
None

In [45]:
print (american.describe())
print (carmel.describe())
print (dial7.describe())
print (diplo.describe())
print (highclass.describe())
print (skyline.describe())
print (federal.describe())
print (lyft.describe())
print (firstclass.describe())
print (prestige.describe())

       Unnamed: 3  Unnamed: 4  Unnamed: 5
count         0.0         0.0         0.0
mean          NaN         NaN         NaN
std           NaN         NaN         NaN
min           NaN         NaN         NaN
25%           NaN         NaN         NaN
50%           NaN         NaN         NaN
75%           NaN         NaN         NaN
max           NaN         NaN         NaN
             Date    Time PU_Adress Base_No
count      256519  256519    256519  256519
unique         92    1427     63738       7
top     9/18/2014   15:00       JFK  B00256
freq         3507    4547     28179  249080
              Date    Time                                              State  \
count       194992  194992                                             194992
unique          92    1440                                               1001
top     2014.09.18   15:00  NY                                            ...
freq          2795    3674                                             133408

           PuFrom Address                Street
count      157962  194992                194992
unique       1264    4328                  9566
top     MANHATTAN
freq       113625   54397                 54148
             Date        Time                        PU_Address
count       98550       98550                             98550
unique         92        1442                             15122
top     9/13/2014  8:40:00 AM  BASE 170 W Fordham Rd Jerome, BX
freq         1440         174                              3293
             DATE        TIME                    PU_Address
count      151925      151925                        151925
unique         92        1472                         26950
top     9/13/2014  9:45:00 AM   268 W Fordham Rd Jerome, BX
freq         2375         285                          1506
       Unnamed: 4  Unnamed: 5
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN
              Date      Time  \
count          276       276
unique          83        95
top     07/03/2014  10:00 AM
freq            12        11

                                               PU_Address  \
count                                                 269
unique                                                240
top     John F Kennedy International Airport, Delta Ai...
freq                                                    4

                                    DO_Address  \
count                                      267
unique                                     129
top     John F Kennedy International Airport;
freq                                        70

                                          Routing Details  \
count                                                 276
unique                                                264
top     PU: 607 20 St., BK NY; DO: John F Kennedy Inte...
freq                                                    3

                                             PU_Address.1   Status
count                                                 276      276
unique                                                264        3
top     607 20 St., BK NY; DO: John F Kennedy Internat...  Arrived
freq                                                    3      128
           start_lat      start_lng
count  267700.000000  267700.000000
mean       40.730292     -73.964948
std         0.043578       0.043445
min        40.527850     -74.226890
25%        40.708870     -73.991080
50%        40.733450     -73.978120
75%        40.756600     -73.952300
max        40.935620     -73.723150
            DATE        TIME         PICK UP ADDRESS
count     166769      166769                  166769
unique        92        1443                   28388
top     7/2/2014  9:00:00 AM  base 4980 Broadway NYC
freq        2228        1822                    3137
             DATE         TIME                     PICK UP ADDRESS
count      320641       320641                              320641
unique         92         1463                               52480
top     9/13/2014  10:00:00 AM  PRESTIGE #1 3108 Webster Ave Bronx
freq         4470          391                                2051

In [52]:
print (american.head())
print (carmel.head())
print (dial7.head())
print (diplo.head())
print (highclass.head())
print (skyline.head())
print (federal.head())
print (lyft.head())
print (firstclass.head())
print (prestige.head())

       DATE         TIME                  PICK UP ADDRESS  Unnamed: 3  \
0  7/1/2014  12:00:00 AM    874 E 139th St Mott Haven, BX         NaN
1  7/1/2014  12:01:00 AM    628 E 141st St Mott Haven, BX         NaN
2  7/1/2014  12:01:00 AM   601 E 156th St South Bronx, BX         NaN
3  7/1/2014  12:01:00 AM    708 E 138th St Mott Haven, BX         NaN
4  7/1/2014  12:02:00 AM    700 E 140th St Mott Haven, BX         NaN

   Unnamed: 4  Unnamed: 5
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
       Date  Time        PU_Adress Base_No
0  7/1/2014  0:00  260 W 44 St NYC  B00256
1  7/1/2014  0:00  125 W 29 St Nyc  B00256
2  7/1/2014  0:00  141 W 28 St Nyc  B00256
3  7/1/2014  0:01              EWR  B00256
4  7/1/2014  0:07              JFK  B00256
         Date   Time                                              State  \
0  2014.07.06  14:30  NY                                            ...
1  2014.07.04   7:15  NY                                            ...
2  2014.07.05   5:45  NY                                            ...
3  2014.07.06   4:30  NY                                            ...
4  2014.07.05   7:45  NY                                            ...

      PuFrom Address                Street
0  MANHATTAN      50  MURRAY ST
1  MANHATTAN     143  AVENUE B
2  MANHATTAN     125  CHRISTOPHER ST
3  MANHATTAN     217  E 7 ST
4  MANHATTAN     521  W 26 ST
       Date         Time                           PU_Address
0  7/1/2014  12:00:00 AM       2396 Valentine Ave Fordham, BX
1  7/1/2014  12:01:00 AM   1859 Walton Ave Morris Heights, BX
2  7/1/2014  12:02:00 AM           2431 Jerome Ave Jerome, BX
3  7/1/2014  12:05:00 AM       3044 Valentine Ave Fordham, BX
4  7/1/2014  12:05:00 AM      1085 Nelson Ave High Bridge, BX
       DATE         TIME                          PU_Address
0  7/1/2014  12:00:00 AM         2976 Marion Ave Fordham, BX
1  7/1/2014  12:01:00 AM   780 Grand Concourse Cortlandt, BX
2  7/1/2014  12:01:00 AM       105 Elliot Pl High Bridge, BX
3  7/1/2014  12:03:00 AM                 2825 Webb Ave Bronx
4  7/1/2014  12:04:00 AM   1878 Cedar Ave Morris Heights, BX
       Date            Time                   Street_Address   \
0  7/1/2014      20:27           622 THIRD AV
1  7/1/2014      21:04            E 77TH ST
2  7/1/2014      22:20           67 WEST PALISADES BLVD
3  7/1/2014      12:28           130 MIDDLE NECK RD
4  7/1/2014      16:45           36 E 31ST ST

                     City_State   Unnamed: 4  Unnamed: 5
0       M                                NaN         NaN
1       M                                NaN         NaN
2      PALISADES PARK NJ                 NaN         NaN
3      SANDS POINT LI                    NaN         NaN
4       M                                NaN         NaN
         Date      Time                                  PU_Address  \
0  07/01/2014  07:15 AM  Brooklyn Museum, 200 Eastern Pkwy., BK NY;
1  07/01/2014  07:30 AM              33 Robert Dr., Short Hills NJ;
2  07/01/2014  08:00 AM                    60 Glenmore Ave., BK NY;
3  07/01/2014  09:00 AM                     128 East 31 St., BK NY;
4  07/01/2014  09:30 AM                139-39 35 Ave., Flushing NY;

                                          DO_Address  \
0                         1 Brookdale Plaza, BK NY;
1  John F Kennedy International Airport, vitona A...
2                        2171 Nostrand Ave., BK NY;
3                              369 93rd St., BK NY;
4                               La Guardia Airport;

                                     Routing Details  \
0  PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...
1  PU: 33 Robert Dr., Short Hills NJ; DO: John F ...
2  PU: 60 Glenmore Ave., BK NY; DO: 2171 Nostrand...
3  PU: 128 East 31 St., BK NY; DO: 369 93rd St., ...
4  PU: 139-39 35 Ave., Flushing NY; DO: La Guardi...

                                        PU_Address.1     Status
0  Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...  Cancelled
1  33 Robert Dr., Short Hills NJ; DO: John F Kenn...    Arrived
2  60 Glenmore Ave., BK NY; DO: 2171 Nostrand Ave...   Assigned
3  128 East 31 St., BK NY; DO: 369 93rd St., BK NY;    Assigned
4  139-39 35 Ave., Flushing NY; DO: La Guardia Ai...   Assigned
      time_of_trip  start_lat  start_lng Unnamed: 3
0    9/4/2014 9:51   40.64705  -73.77988        NaN
1  8/27/2014 21:13   40.74916  -73.98373        NaN
2   9/4/2014 14:16   40.64065  -73.97594        NaN
3   9/4/2014 16:08   40.75002  -73.99514        NaN
4   8/28/2014 2:41   40.76715  -73.98636        NaN
       DATE         TIME                 PICK UP ADDRESS
0  7/1/2014  12:02:00 AM   5360 Broadway Kingsbridge, BX
1  7/1/2014  12:02:00 AM                546 Isham St NYC
2  7/1/2014  12:03:00 AM           234 Bradhurst Ave NYC
3  7/1/2014  12:07:00 AM        99 Marble Hill Ave Bronx
4  7/1/2014  12:08:00 AM           120 Vermilyea Ave NYC
       DATE         TIME                          PICK UP ADDRESS
0  7/1/2014  12:00:00 AM              2557 Marion Ave Fordham, BX
1  7/1/2014  12:00:00 AM   45 E Mosholu Pkwy N Williamsbridge, BX
2  7/1/2014  12:00:00 AM            458 E 143rd St Mott Haven, BX
3  7/1/2014  12:02:00 AM  MINIVAN SUV 2557 Marion Ave Fordham, BX
4  7/1/2014  12:02:00 AM        1117 Westchester Ave Foxhurst, BX

Checking dates to compare the same period

In [81]:
american['DATE'] = pd.to_datetime(american['DATE'])

In [82]:
print (min(american.DATE))
print (max(american.DATE))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [83]:
carmel['Date'] = pd.to_datetime(carmel['Date'])

In [84]:
print (min(carmel.Date))
print (max(carmel.Date))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [85]:
dial7['Date'] = pd.to_datetime(dial7['Date'])

In [86]:
print (min(dial7.Date))
print (max(dial7.Date))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [87]:
diplo['Date'] = pd.to_datetime(diplo['Date'])

In [88]:
print (min(diplo.Date))
print (max(diplo.Date))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [89]:
highclass['DATE'] = pd.to_datetime(highclass['DATE'])

In [90]:
print (min(highclass.DATE))
print (max(highclass.DATE))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [91]:
skyline['Date'] = pd.to_datetime(skyline['Date'])

In [92]:
print (min(skyline.Date))
print (max(skyline.Date))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [93]:
federal['Date'] = pd.to_datetime(federal['Date'])

In [94]:
print (min(federal.Date))
print (max(federal.Date))

2014-07-01 00:00:00
2014-09-28 00:00:00

In [95]:
lyft['time_of_trip'] = pd.to_datetime(lyft['time_of_trip'])

In [96]:
print (min(lyft.time_of_trip))
print (max(lyft.time_of_trip))

2014-07-25 23:01:00
2014-09-30 23:59:00

In [97]:
firstclass['DATE'] = pd.to_datetime(firstclass['DATE'])

In [98]:
print (min(firstclass.DATE))
print (max(firstclass.DATE))

2014-07-01 00:00:00
2014-09-30 00:00:00

In [99]:
prestige['DATE'] = pd.to_datetime(prestige['DATE'])

In [100]:
print (min(prestige.DATE))
print (max(prestige.DATE))

2014-07-01 00:00:00
2014-09-30 00:00:00

Minimum date should be 2014-07-25 23:01:00
Maximum date should be 2014-09-28 00:00:00
https://www.geeksforgeeks.org/drop-rows-from-the-dataframe-based-on-certain-condition-applied-on-a-column/